<div>
    <h2><span data-translate="upartnaApp.expert.detail.title">Expert</span> {{vm.expert.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.expert.title">Title</span></dt>
        <dd>
            <span>{{vm.expert.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.about">About</span></dt>
        <dd>
            <span>{{vm.expert.about}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.website">Website</span></dt>
        <dd>
            <span>{{vm.expert.website}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.isActivated">Is Activated</span></dt>
        <dd>
            <span>{{vm.expert.isActivated}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.isCompany">Is Company</span></dt>
        <dd>
            <span>{{vm.expert.isCompany}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.taxPayerNumber">Tax Payer Number</span></dt>
        <dd>
            <span>{{vm.expert.taxPayerNumber}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.experienceStartDate">Experience Start Date</span></dt>
        <dd>
            <span>{{vm.expert.experienceStartDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.activatedOn">Activated On</span></dt>
        <dd>
            <span>{{vm.expert.activatedOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.expert.createdOn">Created On</span></dt>
        <dd>
            <span>{{vm.expert.createdOn | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="expert-detail.edit({id:vm.expert.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
