<div>
    <h2><span data-translate="upartnaApp.speciality.detail.title">Speciality</span> {{vm.speciality.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.speciality.title">Title</span></dt>
        <dd>
            <span>{{vm.speciality.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.speciality.description">Description</span></dt>
        <dd>
            <span>{{vm.speciality.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="speciality-detail.edit({id:vm.speciality.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
