<div>
    <h2><span data-translate="upartnaApp.jobFile.detail.title">Job File</span> {{vm.jobFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.jobFile.url">Url</span></dt>
        <dd>
            <span>{{vm.jobFile.url}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.jobFile.fileType">File Type</span></dt>
        <dd>
            <span>{{vm.jobFile.fileType}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.jobFile.extension">Extension</span></dt>
        <dd>
            <span>{{vm.jobFile.extension}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="job-file-detail.edit({id:vm.jobFile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
