<div>
    <h2><span data-translate="upartnaApp.notification.detail.title">Notification</span> {{vm.notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.notification.title">Title</span></dt>
        <dd>
            <span>{{vm.notification.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.notification.message">Message</span></dt>
        <dd>
            <span>{{vm.notification.message}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.notification.sendingDate">Sending Date</span></dt>
        <dd>
            <span>{{vm.notification.sendingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.notification.receivingDate">Receiving Date</span></dt>
        <dd>
            <span>{{vm.notification.receivingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.notification.viewDate">View Date</span></dt>
        <dd>
            <span>{{vm.notification.viewDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.notification.isDeleted">Is Deleted</span></dt>
        <dd>
            <span>{{vm.notification.isDeleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="notification-detail.edit({id:vm.notification.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
