<div>
    <h2 data-translate="upartnaApp.contract.home.title">Contracts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contract.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="upartnaApp.contract.home.createLabel">
                        Create new Contract
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span data-translate="upartnaApp.contract.title">Title</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="code"><span data-translate="upartnaApp.contract.code">Code</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="beginningDate"><span
                    data-translate="upartnaApp.contract.beginningDate">Beginning Date</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="endingDate"><span data-translate="upartnaApp.contract.endingDate">Ending Date</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="amount"><span data-translate="upartnaApp.contract.amount">Amount</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="signatureDate"><span
                    data-translate="upartnaApp.contract.signatureDate">Signature Date</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contract in vm.contracts track by contract.id">
                <td><a ui-sref="contract-detail({id:contract.id})">{{contract.id}}</a></td>
                <td>{{contract.title}}</td>
                <td>{{contract.code}}</td>
                <td>{{contract.beginningDate | date:'mediumDate'}}</td>
                <td>{{contract.endingDate | date:'mediumDate'}}</td>
                <td>{{contract.amount}}</td>
                <td>{{contract.signatureDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="contract-detail({id:contract.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="contract.edit({id:contract.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="contract.delete({id:contract.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
