<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContractLabel" data-translate="upartnaApp.contract.home.createOrEditLabel">Create
            or edit a Contract</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contract.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.contract.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.contract.title"
                   required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                   ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                   ng-model="vm.contract.code"
                   required/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                   ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.beginningDate" for="field_beginningDate">Beginning
                Date</label>
            <div class="input-group">
                <input id="field_beginningDate" type="text" class="form-control" name="beginningDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.contract.beginningDate"
                       is-open="vm.datePickerOpenStatus.beginningDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginningDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.endingDate" for="field_endingDate">Ending
                Date</label>
            <div class="input-group">
                <input id="field_endingDate" type="text" class="form-control" name="endingDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.contract.endingDate"
                       is-open="vm.datePickerOpenStatus.endingDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endingDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                   ng-model="vm.contract.amount"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.contract.signatureDate" for="field_signatureDate">Signature
                Date</label>
            <div class="input-group">
                <input id="field_signatureDate" type="text" class="form-control" name="signatureDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.contract.signatureDate"
                       is-open="vm.datePickerOpenStatus.signatureDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('signatureDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
