<div>
    <h2 data-translate="upartnaApp.submission.home.title">Submissions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="submission.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="upartnaApp.submission.home.createLabel">
                        Create new Submission
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="submitedOn"><span data-translate="upartnaApp.submission.submitedOn">Submited On</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="description"><span data-translate="upartnaApp.submission.description">Description</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="amount"><span data-translate="upartnaApp.submission.amount">Amount</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="submission in vm.submissions track by submission.id">
                <td><a ui-sref="submission-detail({id:submission.id})">{{submission.id}}</a></td>
                <td>{{submission.submitedOn | date:'mediumDate'}}</td>
                <td>{{submission.description}}</td>
                <td>{{submission.amount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="submission-detail({id:submission.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="submission.edit({id:submission.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="submission.delete({id:submission.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
