<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubmissionLabel" data-translate="upartnaApp.submission.home.createOrEditLabel">
            Create or edit a Submission</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.submission.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.submission.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.submission.submitedOn" for="field_submitedOn">Submited
                On</label>
            <div class="input-group">
                <input id="field_submitedOn" type="text" class="form-control" name="submitedOn"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.submission.submitedOn"
                       is-open="vm.datePickerOpenStatus.submitedOn"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('submitedOn')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.submission.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.submission.description"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.submission.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                   ng-model="vm.submission.amount"
            />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
