<div>
    <h2><span data-translate="upartnaApp.message.detail.title">Message</span> {{vm.message.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.message.body">Body</span></dt>
        <dd>
            <span>{{vm.message.body}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.message.sendingDate">Sending Date</span></dt>
        <dd>
            <span>{{vm.message.sendingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.message.receivingDate">Receiving Date</span></dt>
        <dd>
            <span>{{vm.message.receivingDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="message-detail.edit({id:vm.message.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
