<div>
    <h2 data-translate="upartnaApp.proof.home.title">Proofs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="proof.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="upartnaApp.proof.home.createLabel">
                        Create new Proof
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="title"><span data-translate="upartnaApp.proof.title">Title</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="description"><span data-translate="upartnaApp.proof.description">Description</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdOn"><span data-translate="upartnaApp.proof.createdOn">Created On</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="proof in vm.proofs track by proof.id">
                <td><a ui-sref="proof-detail({id:proof.id})">{{proof.id}}</a></td>
                <td>{{proof.title}}</td>
                <td>{{proof.description}}</td>
                <td>{{proof.createdOn | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="proof-detail({id:proof.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="proof.edit({id:proof.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="proof.delete({id:proof.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
