<div>
    <h2><span data-translate="upartnaApp.proof.detail.title">Proof</span> {{vm.proof.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.proof.title">Title</span></dt>
        <dd>
            <span>{{vm.proof.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.proof.description">Description</span></dt>
        <dd>
            <span>{{vm.proof.description}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.proof.createdOn">Created On</span></dt>
        <dd>
            <span>{{vm.proof.createdOn | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="proof-detail.edit({id:vm.proof.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
