<div>
    <h2><span data-translate="upartnaApp.proofFile.detail.title">Proof File</span> {{vm.proofFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.proofFile.url">Url</span></dt>
        <dd>
            <span>{{vm.proofFile.url}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.proofFile.fileType">File Type</span></dt>
        <dd>
            <span>{{vm.proofFile.fileType}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.proofFile.extension">Extension</span></dt>
        <dd>
            <span>{{vm.proofFile.extension}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="proof-file-detail.edit({id:vm.proofFile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
