<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobLabel" data-translate="upartnaApp.job.home.createOrEditLabel">Create or edit a
            Job</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.job.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.job.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.job.title"
                   required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                   ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                   ng-model="vm.job.code"
                   required/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                   ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.description"
                   for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.job.description"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.beginningDate" for="field_beginningDate">Beginning
                Date</label>
            <div class="input-group">
                <input id="field_beginningDate" type="text" class="form-control" name="beginningDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.job.beginningDate"
                       is-open="vm.datePickerOpenStatus.beginningDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('beginningDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.endingDate" for="field_endingDate">Ending
                Date</label>
            <div class="input-group">
                <input id="field_endingDate" type="text" class="form-control" name="endingDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.job.endingDate"
                       is-open="vm.datePickerOpenStatus.endingDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endingDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                   ng-model="vm.job.amount"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.isDeleted" for="field_isDeleted">Is
                Deleted</label>
            <input type="checkbox" name="isDeleted" id="field_isDeleted"
                   ng-model="vm.job.isDeleted"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.createdOn" for="field_createdOn">Created
                On</label>
            <div class="input-group">
                <input id="field_createdOn" type="text" class="form-control" name="createdOn"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.job.createdOn"
                       is-open="vm.datePickerOpenStatus.createdOn"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdOn')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.job.updatedOn" for="field_updatedOn">Updated
                On</label>
            <div class="input-group">
                <input id="field_updatedOn" type="text" class="form-control" name="updatedOn"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.job.updatedOn"
                       is-open="vm.datePickerOpenStatus.updatedOn"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedOn')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
