<div>
    <h2><span data-translate="upartnaApp.job.detail.title">Job</span> {{vm.job.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.job.title">Title</span></dt>
        <dd>
            <span>{{vm.job.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.code">Code</span></dt>
        <dd>
            <span>{{vm.job.code}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.description">Description</span></dt>
        <dd>
            <span>{{vm.job.description}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.beginningDate">Beginning Date</span></dt>
        <dd>
            <span>{{vm.job.beginningDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.endingDate">Ending Date</span></dt>
        <dd>
            <span>{{vm.job.endingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.amount">Amount</span></dt>
        <dd>
            <span>{{vm.job.amount}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.isDeleted">Is Deleted</span></dt>
        <dd>
            <span>{{vm.job.isDeleted}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.createdOn">Created On</span></dt>
        <dd>
            <span>{{vm.job.createdOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.job.updatedOn">Updated On</span></dt>
        <dd>
            <span>{{vm.job.updatedOn | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="job-detail.edit({id:vm.job.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
